h2{
    text-transform: uppercase;
}
.button:hover{
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: azure;
    padding: 5px;
}
button{
    color: white;
    background-color: grey;
}
